body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e63131;
}

.nav-logo {
  font-size: 22px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.action-btn-container {
  display: flex;
  gap: 10px;
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  background-color: #fff;
  color: #3d3d3d;
}

.heroSection {
  display: flex;
  align-items: center;
  padding: 30px 10%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.left-section {
  flex: 1;
  max-width: 500px;
}

.left-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.left-section p {
  font-size: 15px;
  line-height: 22px;
  color: #555;
  margin-bottom: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #d63939;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.link-btn:hover {
  background-color: #969696;
}

.overlay,
.login-overlay,
.signUp-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-box,
.login-box,
.signUp-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.closeBtn,
.loginCloseBtn,
.signUpCloseBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  color: #666;
}

.overlay-box h3,
.login-box h3,
.signUp-box h3 {
  font-size: 24px;
  color: #4b3636;
  margin-bottom: 15px;
}

.overlay-box p,
.login-box input,
.signUp-box input {
  font-size: 14px;
  color: #6e6e6e;
  line-height: 20px;
  margin-bottom: 12px;
}

.overlay-box button,
.login-box button,
.signUp-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c71212;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-box input,
.signUp-box input {
  width: 100%;
  max-width: 370px;
  padding: 12px 14px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
}

@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    padding: 20px;
  }

  .left-section {
    text-align: center;
    padding: 20px;
  }
  .right-section img {
    max-width: 300px;
  }

  .link-btn {
    margin: 0 auto;
  }

  .overlay-box {
    margin: 0px 14px;
  }

  .login-box,
  .signUp-box {
    margin: 0px 10px;
  }

  .login-box input,
  .signUp-box input {
    width: 280px;
  }

  .login-box button,
  .signUp-box button {
    width: 310px;
  }
}
